*{  /* seletor global */
 color:rgba(150, 184, 255, 0.443)
}
.first-header{
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
h1{
  color: red;  
  font-style:italic;
}
 header p{   /*aplicou para todos os headers que possuem elementos p */
  color:greenyellow;
  line-height: 2px;
  text-transform: capitalize;   
}
h2{
  font-size: 50px;
  font-weight: 900;
  font-family: sans-serif; /* caso uma fonte não exista no sistema do usuário então a proxima opção sera escolhida ou alguma opção da mesma familia que exista no pc do usuário.*/

}
p{
  line-height: 0.4rem; 
}
/*combinando seletores */
h1,h2,h4,p,li{
  font-family: sans-serif;
}
li{
  color:blue !important;   /*fara com que a cor seja azul não importa a especificidade dos outros seletores que também selecionem esse elemento
  deve-se evitar o uso.*/
}
footer p{
  font-size: 1.4rem;
}
/*id e classes */
/*o id é usado para criar um estilo unico para um unico elemento */
/* classe e usada para criar o estilo de um grupo de elmentos que possuem a mesma */

#test{
  color:red;
}
.copyrigth{
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}
.footer{
  border: 5px solid grey;
}
li:first-child{
  color:red;
}
li:last-child{
  background-color: aqua;
}
li:nth-child(2){
  font-weight: bold;
}
/*padding and margin*/
/*o padding define o tamanho do espaço entre o conteúdo de um elemento html e a borda do mesmo, enquanto que o margin define o espaço entre o elemento e o que tem em volta.*/
.first-a{
  border:3px solid red;
  padding:10px 20px 30px 40px;
  background-color: black;
  margin:20px,40px;
  color:white;
}
.secon-a{
  border: 3px solid red;

}