body{
    background-color: rgb(50,240,150);
}
#pera{
    background-color: green;
}
#maca{
    background-color: red;
}
#banana{
    background-color: yellow;
}
#morango{
    background-color: crimson;
}
.verdura{
    background-color:ghostwhite
}